.swiper-slide {
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.header-content{
    position: relative;
}
.header-content:before{
    position: absolute;
    content: "";
}

.img-slider{
    position: absolute;
    right: 0;
    width: 60%;
    height: 100%;
}

.img-slider:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    width: 350px;
    background-image: url(../images/banner-mask.png);
    background-repeat-x: no-repeat;
}

.img-slider-2{
    width: 100%;
}

.img-slider-2:before{
    display: none;
}

.img-slider img{
    min-height: 100%;
    width: 100%;
}

.slider {
    height: 80vh !important;
}
.swiper-slide:after {
    background: linear-gradient(#000000e8,rgb(255 255 255 / 0%));
    height: 300px;
}
.slider .swiper-content h3 {
    color: #000;
    padding-left: 70px;
}
.swiper-content h1{
    color: #000;
    font-size: 48px;
}

.swiper-content p{
    font-size: 17px;
}
.swiper-content {
    margin-top: 100px;
}
.swiper-content h3:after {
    background: #b7a9a9;
    right: -65px;
}
.swiper-content h3:before {
    background: #b7a9a9;
    left: 0;
}

.banner-form.form-style-1 .form-content{
    padding: 30px 0 30px 15px;
}
.slider .swiper-container-horizontal>.swiper-pagination-bullets, .slider .swiper-pagination-custom, .slider .swiper-pagination-fraction {
    bottom: 50px;
}
.banner-form.form-style-3 {
    bottom: 0;
    position: relative;
    margin: -50px 0 0 0;
    padding: 0;
}
.header-content {
    background-image: linear-gradient(to bottom,#00588f,#6c90b3);
    border-bottom: none;
}
.header-content li a {
    color: #fff !important;
}
.header-content li {
    border-left: 1px solid #d7cece;
}
.btn-close-pop {
    position: absolute;
    right: 10px;
    z-index: 99;
    border: 0;
    background: transparent;
    color: #fff;
    font-size: 22px;
    line-height: 30PX;
    font-weight: bold;
    margin: 2px 0 0 0;
    width: 40px;
}
.js-am-common-sale-top-banner {
    background-image: linear-gradient(to bottom,#00588f,#6c90b3);
    padding: 5px 0;
    width: 100%;
    position: relative;
    display: block;
    text-align: center;
    color: #fff;
    font-size: 18px;
    overflow: hidden;
}

.main_header_area .bg-header-index {
    background-image: url("../images/bg-header.webp");
    background-size: cover;
}


.js-am-common-sale-top-banner p{
    color:#fff;
    text-align: left;
    margin: 0;
}
.header_menu .navbar.navbar-default .nav.navbar-nav li.submenu .dropdown-menu {
    min-width: 250px;
}

.header_menu .navbar.navbar-default .nav.navbar-nav li a{
    font-size: 19px;
    color:#000;
}
.header-content .links ul li .nice-select span {
    color: #fff;
}
.banner-form {
    position: relative;
    padding: 15px 0;
    background: linear-gradient(to bottom,#00588f,#6c90b3);
}
.table-item input, .table-item select {
    border: 1px solid #fff;
    border-radius: 25px;
    height: 40px;
}
.table-item input::placeholder{
    color: #000;
}
.table-item span.input-group-addon {
    right: 10px;
}
section {
    padding: 50px 0 50px;
}
.section-title {
    margin: 0 auto 30px;
}
.service-content h4 {
    margin-bottom: 0;
    font-size: 17px;
    font-weight: 500;
    text-transform: none;
}

.service-content {
    bottom: 15px;
    left: 15px;
    background: rgb(255 255 255 / 70%);
    width: calc(100% - 30px);
    padding: 10px 0;
}

.nile-cr .room-image img{
    height: 300px;
}


.block-adventures{
    background-color: #e6f4fd;
    padding: 30px;
    box-shadow: 0 0 10px #cbc3c3;
    border-radius: 10px;
}
.des--adv{

}
.des--adv h3{

}
.des--adv p{

}

.block--adv{
    background: #fff;
    padding: 5px;
    border-radius: 5px;
}

.block--adv img{
    height: 100px;
    border-radius: 5px;
}

.block--adv h3{
    font-size: 14px;
    margin: 0;
    padding: 10px 10px 0 10px;
}

.block--adv p{
    padding: 5px 10px 0 10px;
    font-size: 13px;
}
.block--adv a{
    padding: 0 10px 10px 10px;
    display: block;
    color: #00a2c9;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
}
.block--adv a:hover{
    color: #000;
}
.menu-item {
    overflow: hidden;
}
.menu-image {
    width: 100px;
    height: 100px;
    margin: 0 15px 0 0;
    border-radius: 100%;
    overflow: hidden;
}
.menu-image img{
    height: 100%;
}
.menu-content {
    width: 85%;
}

.menu-content h4{
    text-transform: none;
    font-size: 16px;
    margin: 10px 0 5px 0;
}

.menu-content span{
    font-size: 17px;
    width: 17%;
}

.rooms-style1 .room-content.room-cat--pak{
    padding: 15px 15px 15px;
    bottom: -40px;
}

.room-cat--pak h4{
    font-weight: 600;
    font-size: 14px;
    text-transform: none;
    margin: 5px 0 0 0;
}
.room-cat--pak p{
    float: right;
    position: absolute;
    right: 0;
    top: -4px;
}


.btn-booknow{
    text-transform: none;
    font-size: 14px;
    font-weight: bold;
    color: #0094cf;
}

.block--pak .room-image{
    height: 300px;
}

.block--pak .room-image img{
    min-height: 100%;
}

.block--pak .room-item{
    margin: 0;
}

section.reviews.reviews-style-1 {
    padding-bottom: 50px;
}

section.menu.lunch .menu-item {
    border-radius: 15px;
}
section.events .news-content h4 {
    text-transform: none;
    font-weight: normal;
    font-size: 17px;
}
.parte_cl {
    display: flex;
    border: 1px solid #ddd;
    height: 120px;
    padding: 30px;
    align-items: center;
    margin: 0 0 20px 0;
}
.parte_cl img {
    filter: grayscale(1);
}
.parte_cl img:hover {
    filter: grayscale(0);
}

.footer-top {
    padding: 50px 0 0;
}

.swiper--content--slider{
    margin-top: 15%;
}

.header_menu{
    background-image: linear-gradient(to bottom,#ffffff,#BEC8D2);
}

.header_menu_style_2{
    background-image: url(../images/bg-header.webp);
    background-size: cover;
}

.slider-style-2{
    height: 75vh !important;
}

.masonry .brick img{
    width: 100%;
}
.masonry {
    column-count: 4;
}
section.breadcrumb-outer {
    padding: 250px 0 50px;
}

.section-title-new{
    text-align: center;
    margin: 30px 0;
}

.section-title-new h5 {
    font-weight: 500;
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: 1px;
    margin-bottom: 5px;
    position: relative;
    color: #0067ed;
}

.section-title-new h2.title {
    text-transform: capitalize;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 0;
    font-weight: 700;
    color: #343a40;
    font-family: poppins,sans-serif;
}
.show-more-height {
    height: 75px;
    overflow: hidden;
}
.show-more {
    cursor: pointer;
    text-align: center;
    margin: 5px auto;
    color: blue;
}

.list-sidebar-item {
    margin-bottom: 30px;
    box-shadow: 0 0 10px #f1f1f1;
    padding: 20px;
}

.news-content {
    padding: 15px 15px;
    background: #fff;
}
section.events .news-content.box-tour h4{
    font-size: 14px;
    font-weight: 600;
}

.sidebar-tags li a {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
    transition: all ease-in-out .5s;
    color: #666;
    font-size: 12px;
}
.sidebar-item , .sidebar-box ,.sidebar-tags{
    box-shadow: 0 0 10px #dee;
    padding: 30px;
}

.news-image{
    height: 200px;
}
section.events .news-image img {
    min-height: 100%;
}
.breadcrumb-content h2 {
    text-transform: none;
}

.gallery-content.gallery-content-view{
    background: transparent;
}

.gallery-image-large{
    height: 350px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 15px;
}
.gallery-image-large img{
    width: 100%;
    min-height: 100%;
}

.gallery-image-small{
    height: 75px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
}

.gallery-image-small img{
    width: 100%;
    min-height: 100%;
}

.gallery-item-thb{
    margin-bottom: 15px;
}


.btn-decrement {
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    border: none;
    background: #1e5378 !important;
}
.btn-increment {
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    border: none;
    background: #1e5378 !important;
}
.spinner-control {
    display: flex;
}
.spinner-control input{
    border: none;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    z-index: 100;
    width: 100%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    cursor: default;
}
.form-spinner label{
    width: 100%;
    text-align: center;
}

.sidebar-support {
    border: 1px solid #ddd;
}
.sidebar-support p{
    background: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    color: #000;
    text-align: center;
    font-weight: normal;
    line-height: 28px;
}
.sidebar-support p strong{
    font-weight: normal;
}

.title-left h3{
    text-transform: none;
}

.inc--view{
    list-style-type: auto;
    padding: 0 0 0 35px;
}
.inc--view li{
    font-size: 17px;
}

.detail-box h4 i{
    width: 40px;
    height: 40px;
    border: 2px solid #000;
    text-align: center;
    line-height: 36px;
    border-radius: 100px;
    margin: 0 10px 0 0;
    padding: 0;
}

.img-slider-main .detail-slider-item{
    height: 400px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.img-slider-main .detail-slider-item img{
    width: 100%;
    min-height: 100%;
}

.slider-nav-main .detail-slider-item{
    height: 75px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.slider-nav-main .detail-slider-item img{
    width: 100%;
    min-height: 100%;
}

.icon-whats {
    position: fixed;
    z-index: 9999;
    background: #03a84e;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50%;
    color: #ffffff;
    left: 10px;
    bottom: 30px;
    padding-top: 7px;
    text-decoration: none;
}
.icon-whats i {
    font-size: 45px;
}

.w-list {
    list-style-type: none;
    overflow: hidden;
    padding: 30px;
}

.w-list li a {
    display: block;
    color: #000;
    border: 1px solid #00a13a;
    margin: 10px;
    padding: 10px;
    text-align: left;
    font-size: 22px;
    padding-left: 30px;
    border-radius: 55px;
}
.w-list li a i {
    font-size: 30px;
    color: #00a13a;
    float: left;
    margin: 0 10px 0 0;
}

.form--inq{
    margin: 0 0 15px 0;
}

.form--inq input,
.form--inq .nice-select{
    border: 1px solid #ddd;
    width: 100%;
    border-radius: 5px;
    color:#000;
}
.form--inq .nice-select{
    margin-bottom: 15px;
}
.table-item .nice-select span {
    color: #000;
}
.main_header_area {
    position: relative;
}